{% extends '_base_account.html' %}

{% block title %}
    {% if validlink %}
        Change password for {{ form.user.username }}
    {% else %}
        Reset your password
    {% endif %}
{% endblock %}


{% block content %}
<div class="row justify-content-center">
    <div class="col-sm-12 col-md-10 col-lg-8">
        <div class="card">
            {% if validlink %}
            <div class="card-header">
                <h2>Set a new password</h2>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {% include "includes/form.html" %}
                    <button type="submit" class="btn btn-primary mt-3">Set my password</button>
                </form>
            </div>
            {% else %}
            <div class="card-header">
                <h3>Reset your password</h3>
                <div class="aler alert-danger">
                    It looks like you click on an invalid password reset link, Please do try again.
                </div>
                <a href="{% url 'password_reset' %}" class=""btn btn-secondary btn-block>Request a new password reset</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}