{% extends "_base.html" %}

{% block title %}
    Message sent successfully
{% endblock title %}


{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="alert alert-success">
                        Your Message has been successfully sent.
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}