{% extends '_base.html' %} 
{% block title %}Home{% endblock%} 
{% block content %} 
{% if featured %}
<div class="row featured">
  <div class="col-lg-6">
    <img
      src="{{ featured.image_url }}"
      alt="{{ featured.title }}"
      class="img-fluid featured-img"
    />
  </div>
  <div class="col-lg-6">
    <h6 class="text-muted">Editor's Pick</h6>
    <h2>{{ featured.title }}</h2>
    <p class="text-muted">{{ featured.highlight|truncatechars:200 }}</p>
    <h6 class="author">{{ featured.author }}</h6>
    <span class="text-small text-muted">{{ featured.updated|date:"M d" }}</span>
    |
    <span class="text-small text-muted">{{ featured.read_time }} mins.</span>
  </div>
</div>
<section class="main-content">
  <section class="content"></section>
  <aside class="trends">
    {% for post in most_popular %}
    <div class="p-post">
      <div class="figure">
        {{ forloop.counter }}
      </div>
      <div class="p-body">
        <h4>{{ post.title }}</h4>
        <p>{{ post.author }} <span class="text-muted">in trending.</span></p>
        <p class="text-muted">
          {{ post.updated }} . {{ post.read_time }} min read
        </p>
      </div>
    </div>
    {% endfor %}
  </aside>
</section>
{% endif %} {% endblock content %}
