{% for post in trending_posts %}
    <div class="p-post">
      <div class="figure text-muted">
        0{{ forloop.counter }}
      </div>
      <div class="p-body">
        <h5><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h5>
        <p class="p-post-author">{{ post.author }} <span class="text-muted">in trending.</span></p>
        <p class="p-post-date text-muted">
          {{ post.updated|date:"M d" }} . {{ post.read_time }} min read
        </p>
      </div>
    </div>
{% empty %}
    <p class="alert alert-info">No trending posts yet.</p>
{% endfor %}