<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <a class="p-2 link-secondary" href="#">HOME</a>
      <a class="p-2 link-secondary" href="#">PROGRAMMING</a>
      <a class="p-2 link-secondary" href="#">HTML</a>
      <a class="p-2 link-secondary" href="#">CSS</a>
      <a class="p-2 link-secondary" href="#">JAVASCRIPT</a>
      <a class="p-2 link-secondary" href="#">PYTHON</a>
      <a class="p-2 link-secondary" href="#">REACT</a>
      <a class="p-2 link-secondary" href="#">DJANGO</a>
      <a class="p-2 link-secondary" href="#">DATABASE</a>
      <a class="p-2 link-secondary" href="#">GENERAL</a>
    </nav>
</div>