{% extends '_base.html' %}

{% block title %}
    My posts
{% endblock title %}


{% block content %}
    <h2>All my posts ({{ posts.count }})</h2>
    {% for post in posts %}
        <div class="post-circle">
            <div class="post-circle-title">
                <h4> <a href="{{ post.get_absolute_url }}" style="color: inherit">{{ post.title }}</a></h4>
                <p>
                    {% if post.highlight %}
                        {{ post.highlight }}
                    {% endif %}
                </p>
            </div>
            <div class="post-circle-buttons">
                <a href="{% url 'status_change' post.slug %}" class="btn btn-secondary">
                    {% if post.status == 'draft' %}
                        Publish
                    {% else %}
                        Unpublish
                    {% endif %}
                </a>
                <a href="{% url 'post_update' post.slug %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'post_delete' post.slug %}" class="btn btn-danger">Delete</a>
            </div>
        </div>
    {% empty %}
        <p>You have no posts yet.</p>
    {% endfor %}
{% endblock content %}