{% extends '_base.html' %}

{% load humanize markdown_extras %}

{% block title %}Post: {{ post.title }}{% endblock %}

{% block content %}
      <article class="blog-post">
        <h2 class="blog-post-title">{{ post.title|title }}</h2>
        <p class="blog-post-meta">By <a href="{{ post.author.get_absolute_url }}">{{ post.author|title }}</a> | 
        <small class="text-muted">{{ post.publish|date:"M d, Y" }}</small></p>
        {% if post.highlight %}
          <i>{{ post.highlight }}</i>
        {% endif %}
        <hr>
        <p>{{ post.body|markdown|safe }}</p>
      </article>
      <article class="mt-4 shadow-lg p-3 mb-5 bg-light rounded">
        <h6>Similar posts</h6>
        <div class="list-group">
          {% for post in similar_posts %}
            <div class="card p-3">
              <div class="row justify-content-between">
                <div class="col-6">
                  <a href="{{ post.get_absolute_url }}" class="text-muted">
                    {{ post.title|title }}
                  </a> by 
                  <a href="{{ post.author.get_absolute_url }}">
                    {{ post.author }}
                  </a>
                </div>
                <div class="col-6 text-end text-muted">
                  {{ post.publish|naturaltime }}
                </div>
              </div>
            </div>
            
          {% empty %}
            <p class="alert alert-info">There are no related posts yet.</p>
          {% endfor %}
        </div>
      </article>
{% endblock content %}