{% extends "_base.html" %}

{% load gravatar %}

{% block title %}My Profile{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <img src="{{ user|gravatar }}" alt="{{ user.username }}" width="200" height="200" class="rounded-circle" />
            <small class="text-muted">Set or change your profile image on <a href="https://gravatar.com">Gravatar</a></small>
            <form method="post">
                {% csrf_token %}
                {% include 'includes/form.html' %}
                <button type="submit" class="btn btn-success mt-3">Save changes</button>
            </form>
        </div>
    </div>
{% endblock content %}