{% extends '_base.html' %}

{% load humanize %}

{% load gravatar %}

{% block title %}
    {{ user.username }}
{% endblock title %}

{% block content %}
    <div class="row align-items-center">
        <div class="col-md-6">
            <img src="{{ user|gravatar }}" width="100px" height="100px" alt="{{ user.username }}" 
            style="border-radius: 50%; border: 1px solid;" class="mx-auto d-block" >
        </div>
        <div class="col-md-6 text-center">
            <h5>{{ user.username|title }}</h5>
            <p>{{ user.email }}</p>
        </div>
    </div>
    <div class="user">
        <p>All Published Posts: {{ published_posts.count }}</p>

        <div class="list-group w-auto">
            {% for post in published_posts %}
            <a href="{{ post.absolute_url }}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
              <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                  <h6 class="mb-0">{{ post.title }}</h6>
                  <p class="mb-0 opacity-75">{{ post.highlight|truncatechars:50 }}</p>
                </div>
                <small class="opacity-50 text-nowrap">{{ post.updated|naturaltime }}</small>
              </div>
            </a>
            {% endfor %}
          </div>
    </div>
{% endblock content %}