{% extends '_base.html' %}

{% load humanize %}

{% load gravatar %}

{% block title %}
    {{ user.username }}
{% endblock title %}

{% block content %}
    <div class="row align-items-center">
        <div class="col-md-6">
            <img src="{{ user|gravatar }}" width="100px" height="100px" alt="{{ user.username }}" 
            style="border-radius: 50%; border: 1px solid;" class="mx-auto d-block" >
        </div>
        <div class="col-md-6 text-center">
            <h5>{{ user.username|title }}</h5>
            <p>{{ user.email }}</p>
        </div>
    </div>
    <div class="user">
        <p>All Published Post: {{ published_posts.count }}</p>

        <div class="user-detail-posts">
            {% for post in published_posts %}
                <div class="user-detail-post">
                    <h5><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h5>
                    <div class="user-detail-dates">
                        <small>Last Updated: {{ post.updated|naturaltime }}</small>
                    </div>
                </div>
            {% empty %}
                <div class="user-detail-post">
                    <h5>This user has no published posts</h5>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}